
<style>

:root {
      --gray-9: #140335;
      --gray-7: #51436B;
      --gray-6: #8A829A;
      --gray-5: #A7A1B3;
      --gray-0: #ffffff;
      --royalblue-5: #4871F0;
      --md: 14px;
      --sm: 12px;
    }

    * {
      font-family: "Poppins", sans-serif;
      text-align: start;
    }

    body, p {
      line-height: 1.7;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    br {
      display: none;
    }

    .title-clausula {
      color: var(--gray-9);
      font-weight: var(--md);
      font-weight: bold;
      margin-top: 24px;
    }
    
    p {
      color: var(--gray-7);
      font-size: var(--md);
      padding-bottom: 14px;
    }
    
    table  {
      background-color: var(--gray-0);
      border-radius: 16px;
      box-shadow: 0px 8px 20px -2px rgba(20, 3, 53, 0.08);
      width: 98%;
      margin: 0 auto 12px;
      padding: 12px 20px 20px;
    }

    tbody tr {
      display: flex;
      flex-direction: column;
      width: inherit;
      padding-bottom: 8px;
    }

    th{
      color: var(--gray-9);
      font-size: var(--sm);
    } 
    
    td p {
      color: var(--gray-7);
      font-size: var(--sm);
      padding-bottom: 0;
    }

    td:nth-of-type(1) p:not(.proposito) {
      color: var(--gray-5);
    }

    th {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    ul, ol {
      padding-left: 20px;
      margin: 0 0 12px;
    }

    ul li::marker, ol li::marker {
      color: var(--royalblue-5);
      font-size: var(--sm);
      font-weight: bold;
    }

    ul li p, ol li p {
      font-size: var(--sm);
      padding-bottom: 16px;
    }

    table ul li p {
      padding-bottom: 0;
    }

    .table-recopilacion-datos th {
      font-size: var(--md);
      color: var(--gray-9);
    }

    .origen {
      color: var(--gray-6);
      font-style: italic;
    }

    .informacion {
      font-size: var(--md);
      font-weight: bold;
    }

    .proposito {
      color: var(--gray-9);
    }

    .footer-table-identidad p {
      color: var(--gray-6);
      font-size: var(--sm);
    }

</style>


<p class="title-clausula">Datamart</p>
<div class="intro">
  <p>Datamart SpA, con
    domicilio en Alonso de Monroy 2869, oficina 201, Vitacura, Santiago
    de Chile, es una empresa dedicada a la obtención, extracción y
    procesamiento de datos desde distintas fuentes de información, a
    través de medios informáticos, en adelante “Datamart”.</p>

  <p> Datamart permite
    solicitar, procesar y almacenar de forma segura documentos y
    antecedentes que pueden contener información de carácter personal,
    comercial, tributaria o financiera, tuya o de la sociedad u
    organización que representas, la cual podrás autorizar a compartir
    con empresas con quiénes quieras relacionarte y hacer negocios, o con
    las que ya tengas una relación comercial.</p>

  <p>El tratamiento de
  datos se realizará en plena observancia de la normativa aplicable y
  normas complementarias.</p>
</div>
<br/>

<p class="title-clausula">Información personal o de una sociedad recopilada</p>
<div>
  <p>Esta política de privacidad podría estar dirigida a personas naturales y/o personas jurídicas, según la naturaleza de la entidad que se identifique en la sección Titutar, el cual será completado con la información de quién está aceptando esta política de privacidad. </p>

</div>

<br/>

<div class="destinatarios">
  <p class="title-clausula">Destinatario de los datos</p>
  {% for destinatario in clause_object.destinatario_destinatarios %}

  <div class="destinatario_datos">
    <p>
      <b><span name="razon_social-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_razon_social }}</span></b>, identificada según RUT/RUN/DNI/RUC Nº <span name="rut-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_rut }}</span>, en adelante el “Destinatario”
      de los datos, utiliza a Datamart como solución para la obtención de
      parte de la información requerida en sus procesos de negocio,
      evaluación comercial, financiera, de riesgo y/o legal.
    </p>
  </div>

  <br/>

  <table class="table_destinatario table table-bordered table-striped">

    <thead>
      <tr>
        <th class="td-title" colspan="5">Destinatario</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><p>Razón social</p></td>

        <td colspan="3" class="td-title"><p>{{ destinatario.destinatario_razon_social }}</p> </td>

      </tr>
      <tr>
        <td colspan="2"><p>RUT / RUC</p></td>

        <td colspan="3" class="td-title"><p>{{ destinatario.destinatario_rut }}</p> </td>

      </tr>
      <tr>
        <td colspan="2"><p>Domicilio</p> </td>

        <td colspan="3" class="td-title"><p>{{ destinatario.destinatario_domicilio }}</p> </td>

      </tr>
      <tr>
        <td colspan="2"><p>País</p></td>

        <td colspan="3" class="td-title"><p>{{ destinatario.destinatario_pais }}</p> </td>

      </tr>

      <tr class="tr-title">
        <th colspan="5" class="td-title">Información de contacto</th>

      </tr>
      <tr>
        <td colspan="2"><p>Email</p></td>
        <td colspan="2" class="td-title"><p>{{ destinatario.destinatario_email }}</p></td>
      </tr>
      <tr>
        <td colspan="2"><p>Teléfono</p></td>
        <td colspan="2" class="td-title"><p>{{ destinatario.destinatario_telefono }} </p></td>
      </tr>
      <tr class="tr-title">
        <th colspan="5" class="td-title">Actividad del Destinatario</th>
      </tr>

      <tr>
        <td class="variable"><p>
          {{ destinatario.destinatario_tipo_negocio }}</p>
        </td>
  </table>

  {% endfor %}
</div>
<br/>
<div class="datos-propios-sociedad">

  <p class="title-clausula">Los datos son tuyos o de tu sociedad</p>

  <div>
    <p>Para nosotros tu
      confianza y la seguridad de tus datos es una prioridad. Nos
      comprometemos a ser transparentes sobre los datos que obtenemos bajo
      la ley o con tu consentimiento, y la forma en que los utilizamos.</p>

    <p>Por favor, revisa
      atentamente <span class="variable">{{ clause_object.propiedad_de_los_datos_finalidad }} </span> para que
      comprendas
      qué datos obtendremos, con qué fines serán utilizados y a quiénes
      podrían ser compartidos.</p>

  </div>
</div>
<br/>
<div class="motivos">
  <p class="title-clausula">
    Para qué recopilamos y tratamos la información que nos proporcionas
  </p>

  <ul>
    <li>
      <p>
        Como procedimiento previo a una
        evaluación comercial, financiera o tributaria&nbsp;que tú luego
        podrás o no autorizar, verificaremos&nbsp;tu identidad y la de la
        sociedad u organización que representas, en caso aplique.&nbsp;También
        utilizaremos esa información&nbsp;para la&nbsp;prevención de
        delitos&nbsp;y fraudes, y para otros fines que nos hayas
        autorizado&nbsp;explícitamente&nbsp;o que sean permitidos por la
        ley.
      </p>
    </li>
    <li>
      <p>

        Nos autorizas&nbsp;expresamente&nbsp;para&nbsp;contactarnos contigo y/o
        tu sociedad con el fin de interactuar en el contexto de la
        prestación&nbsp;asociada a este documento.</p>

    </li>
    <li>
      <p>

        Adicionalmente, podrás autorizarnos a
        realizar&nbsp;actividades de prospección comercial y de publicidad,
        que incluyen informarte sobre las ofertas, promociones, beneficios,
        concursos y publicidad en general de productos y servicios&nbsp;asociados
        a la prestación descrita en este contrato,&nbsp;productos o
        servicios relacionados a la prestación y que consideremos que
        podrían ser de tu interés, y/o&nbsp;productos o servicios&nbsp;en
        relación con la industria en la que participas.&nbsp;Podremos
        contactarte en cualquier momento para pedirte esta autorización.
      </p>
    </li>
    <li>
      <p>
        Podremos disociar o anonimizar tu
        información, de manera que no pueda ser identificada por terceros
        contigo, o con la sociedad u organización que representas, y
        utilizarla para entrenamiento de algoritmos y sistemas informáticos,
        así como para hacer análisis estadístico.</p>

    </li>
    <li>
      <p>

        El tiempo de conservación de tus datos
        será indeterminado, hasta que decidas revocar tu autorización y/o
        nos solicites eliminarlos.</p>

    </li>
  </ul>
</div>
<br/>
<div class="info-recopilida">
  <p class="title-clausula">Información que recopilamos y para qué la utilizamos</p>
  <div class="info-recopilida-intro">
    <p>Dependiendo
      de la finalidad para la cual sean requeridos tus datos, podríamos
      obtener el siguiente tipo de información para facilitar procesos de
      contratación, de evaluación financiera, oportunidades de compra,
      venta e intermediación de productos y servicios, de prevención de
      delitos y fraudes, y para otros fines que nos hayas autorizado
      expresamente o que sean permitidos por la ley.&nbsp;</p>
    <p>Sin
      perjuicio de lo anterior, en particular utilizaremos&nbsp;la
      información detallada a continuación&nbsp;con las siguientes
      finalidades u otras que, de tiempo en tiempo, nos autorices
      expresamente:</p>
  </div>
  <table class="table-info-recopilada table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="3">Identidad de la Persona de Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td><p class="origen">Formulario de contacto</p></td>
      <td><p class="informacion">Nombre</p></td>
      <td>
        <ul>
          <li>
            <p> Verificar tu identidad. </p>
          </li>
          <li>
            <p> Verificar que se cumplan las condiciones establecidas en créditos y productos financieros.</p>
          </li>
          <li>
            <p> Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes.</p>
          </li>
        </ul>
      </td>
      </tr>
      <tr>
        <td><p class="origen">Proceso identificación<sup>*</sup></p></td>
        <td><p class="informacion">Biometría</p></td>
        <td>
          <ul>
            <li>
              <p>Verificar tu identidad.</p>
            </li>
            <li>
              <p>Fines de seguridad y validación.</p>
            </li>
            <li>
              <p>Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes. </p>
            </li>
          </ul>
        </td>
      </tr>

    </tbody>

  </table>


  <div class="footer-table-identidad">
    <p><sup>*</sup>Opcional en caso de ser requerido.</p>
  </div>

  <table class="contacto-contacto table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="3">Información de Contacto de la Persona de Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="origen">Formulario de contacto</p></td>
        <td><p class="informacion">Teléfono e Email</p></td>
        <td><p class="proposito">Uso o fines con que se utilizará la información</p></td>
        <td>
          <ul>
            <li>
              <p>

                Contactarte en caso de que sea requerido para dar poder prestar el servicio
                que solicitas</p>

            </li>
            <li>
              <p>

                Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes.</p>

            </li>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>

  <table class="identidad-sociedad table table-bordered table-striped">

    <thead>
      <tr>
        <th colspan="3">Identidad de la sociedad </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="origen">Formulario de contacto</p></td>
        <td><p class="informacion">Documento de Identidad</p>
        </td>
        <td><p class="proposito">Uso o fines con que se utilizará la información</p></td>
        <td>
          <ul>
            <li>
              <p>
                Verificar la identidad de la sociedad u organización que representas.
              </p>
            </li>
            <li>
              <p>
                Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes.
              </p>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><p class="origen">SII/SUNAT</p></td>
        <td>
<p class="informacion">Nombre de la Sociedad**</p>
          </td>
          <td><p class="proposito">Uso o fines con que se utilizará la información</p></td>
        <td>
          <ul>
            <li>
              <p>
                Verificar la identidad de la sociedad u organización que representas.
              </p>
            </li>
            <li>
              <p>
                Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes.
              </p>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="footer-table-identidad">
    <p><sup>**</sup>Opcional en caso de ser requerido.</p>
  </div>
</div>
<br/>
<div class="deberes">

  <p class="title-clausula">Debes tener en cuenta que:</p>
  <ul>
    <li>
      <p>
        En caso de que dicha información
        corresponda a información personal,&nbsp;ésta será almacenada
        por&nbsp;Datamart&nbsp;en su banco de datos de “Personas”.&nbsp;
      </p>
    </li>
    <li>
      <p>
        Ciertos datos personales que nos
        autorices a procesar podrían ser sensibles, de conformidad con la
        legislación&nbsp;aplicable, tales como ingresos económicos y datos
        biométricos.&nbsp;&nbsp;
      </p>
    </li>
    <li>
      <p>
        Si representas a una sociedad u
        organización, también recopilaremos los datos personales de sus
        representantes y personas vinculadas. Conforme a la legislación
        aplicable, deberás asegurarte de informarles oportunamente de esta
        recopilación.&nbsp;
      </p>
    </li>
  </ul>

  <div>
    <p>Si decides continuar con un proceso de evaluación o contratación con
      alguna empresa que requiera tu información, podremos pedirte datos
      adicionales, como, por ejemplo, datos de solvencia económica y
      financiera, morosidad, riesgo, actividad y comportamiento comercial o
      financiero, tuyos o los de la sociedad u organización que
      representas, para lo cual solicitaremos de tu autorización expresa.</p>
  </div>
</div>
<br/>
<div class="comunicacion-terceros">
  <p class="title-clausula">Comunicación
    con terceros</p>

  <ul>
    <li>
      <p>
        Comunicaremos la información con aquellos terceros que tú nos hayas autorizado
        expresamente y con aquellos que tengan un interés legítimo sobre
        esos datos o puedan tratarlos de acuerdo con la ley, reglamentos e
        instrucciones de autoridades competentes que resulten aplicables. </p>
    </li>
    <li>
      <p>
        Se deja
        expresa constancia que estás autorizando que la información
        indicada precedentemente pueda ser almacenada, tratada y utilizada
        por el Destinatario para las finalidades descritas en los cuadros
        anteriores, y para otros fines relacionados única y exclusivamente
        con su giro, para los cuales tenga un interés legítimo. </p>
    </li>
    <li>
      <p>
        Para las
        actividades antes descritas, podremos compartir tu información con
        quiénes se encargan de prestar servicios de almacenamiento y
        procesamiento de datos, en el territorio nacional o fuera de él, y
        siempre sujeto a estrictas medidas de encriptación y seguridad.</p>
    </li>
  </ul>
</div>
<br/>
<div class="procesadores-datos">
  <p class="title-clausula">Procesadores de datos de Datamart:</p>
  <ol type="a">
    <li>
      <p>
        AMAZON WEB
        SERVICES, INC, domiciliado en 410 Terry Avenue North, Seattle, WA,
        Estados Unidos, que resguarda tu información de manera encriptada.</p>
    </li>
    <li>
      <p>
        MICROSOFT CORPORATION, INC, domiciliado en One Microsoft Way,
        Redmond, WA 98052-6399 USA, que resguarda tu información de manera
        encriptada.</p>
    </li>
  </ol>

</div>
<br/>
<div class="emp-autorizadas">
  <p class="title-clausula">Otras empresas o
    personas autorizadas para realizar tratamiento:</p>
  {% if clause_object.comunicacion_con_terceros_empresas | length > 0 %}
  {% for empresa in clause_object.comunicacion_con_terceros_empresas %}
  <table class="table-emp-autorizadas table table-bordered table-striped">

    <thead>
      <tr>
        <th class="td-title" colspan="5">Empresa</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"><p>Razón social</p></td>

        <td colspan="3" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_razon_social }} </p></td>

      </tr>
      <tr>
        <td colspan="2"><p>RUT / RUC</p></td>

        <td colspan="3" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_rut }} </p></td>

      </tr>
      <tr>
        <td colspan="2"><p>Domicilio</p></td>

        <td colspan="3" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_domicilio }} </p></td>

      </tr>
      <tr>
        <td colspan="2"><p>País</p></td>

        <td colspan="3" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_pais }}</p> </td>

      </tr>

      <tr class="tr-title">
        <th colspan="5" class="td-title variable">Información de contacto:</th>

      </tr>
      <tr>
        <td colspan="2"><p>Email</p></td>

        <td colspan="2" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_email }} </p></td>

      </tr>
      <tr>
        <td colspan="2"><p>Teléfono</p></td>

        <td colspan="2" class="td-title variable"><p>{{ empresa.comunicacion_con_terceros_telefono }}</p></td>

      </tr>

      <tr class="tr-title">
        <th colspan="5" class="td-title variable">
          Actividad del Otro Destinatario
        </th>
      </tr>

      <tr>
        <td class="variable"><p>
          {{ empresa.comunicacion_con_terceros_tipo_negocio }}</p>
        </td>
      </tr>
    </tbody>

  </table>

  {% endfor %}

  {% else %}

  <div class="no-autorizaciones">


    <p> Estos
      términos de uso y política de privacidad no definen otras
      empresas o personas autorizadas para realizar tratamientop</p>



    <p>En caso hubiera
      nuevos terceros encargados de tratamiento, actualizaremos esta
      relación y te informaremos oportunamente mediante correo
      electrónico.</p>

    
  </div>
  {% endif %}
</div>

<br/>
<div class="info-protegida">

  <p class="title-clausula">
    Cómo
    protegemos tu información
  </p>
  <ul>
    <li>
      <p>Tu información está sujeta a medidas de seguridad de carácter legal,
        organizacional y técnico exigidas por la normativa aplicable.</p>
    </li>
    <li>
      <p> Nuestros procesos siguen la norma ISO 27001 sobre confidencialidad,
        integridad y disponibilidad de la información.</p>
    </li>
    <li>
      <p>Tu información siempre viaja y es almacenada de manera encriptada, con
        los más altos estándares de seguridad disponibles.</p>
    </li>
    <li>
      <p>Tu información es almacenada de forma aislada en bóvedas digitales
        provistas por Amazon Web Services, Inc., que no son compartidas con
        ninguna otra empresa o entidad que no esté legitimada para acceder
        a esos datos.</p>
    </li>
    <li>
      <p>No comunicaremos información que pueda identificarte, o a la sociedad
        u organización que representas, sin tu autorización explícita.</p>
    </li>
    <li>
      <p>Todas nuestras plataformas y servicios operan en una infraestructura <i>cloud</i>
        de clase mundial, que cumple con la normativa aplicable sobre
        seguridad de la información.</p>
    </li>
    <li>
      <p>La infraestructura física sobre la que operamos es escalable, tiene un
        diseño de alta disponibilidad, <i>uptime</i> promedio mensual sobre
        el 99,9% y funcionalidad de tolerancia de errores integrada. Además,
        la infraestructura no tiene períodos de mantenimiento o inactividad
        programados.</p>
    </li>
    <li>
      <p>Auditamos y revisamos nuestros procedimientos de seguridad de forma permanente.</p>
    </li>
    <li>
      <p>
        Nos reservamos el derecho de exigir sistemas de autenticación más
        robustos para que puedas acceder a tu información, como doble
        factor, tokens, biometría u otros, con el objetivo de reducir al
        máximo el riesgo de suplantación y de acceso ilegal.
      </p>
    </li>
  </ul>
</div>
<br/>
<div class="responsabilidad-calidad">
  <p class="title-clausula">Responsabilidad
    sobre la calidad de la información</p>

  <div>
    <p>
      No nos hacemos responsables sobre la veracidad, exactitud o aptitud
      para los fines que se requieran, de la información que nos entregues
      y/o que procesamos desde fuentes públicas o privadas.
    </p>
    <p>
      En
      todo momento podrás revisarla y solicitar que la actualicemos o
      rectifiquemos.
    </p>
  </div>
</div>
<br/>
<div class="portabilidad">
  <p class="title-clausula">Portabilidad</p>
  <div>
    <p>Te proporcionaremos
      a tu requerimiento una copia de la información tuya o de la sociedad
      u organización que representas que hayamos procesado, en un formato
      electrónico portable.</p>
  </div>
</div>
<br/>
<div class="servicio-gratis">
  <p class="title-clausula">Servicio
    gratuito</p>
  <div>
    <p>
      Datamart es un
      servicio gratuito.
    </p>
  </div>
</div>
<br/>
<div class="faq">
  <p class="title-clausula">Preguntas</p>
  <p>Si tienes alguna
    duda, te invitamos a contactarnos directamente a: 
  
    <a href="mailto:{{clause_object.preguntas_correo}}"><span name="correo-{{clause_name}}-1" class="variable">{{
        clause_object.preguntas_correo }} </span></a></p>
  
</div>
<br><br>