<style>
    :root {
      --gray-9: #140335;
      --gray-7: #51436B;
      --gray-6: #8A829A;
      --gray-5: #A7A1B3;
      --gray-0: #ffffff;
      --royalblue-5: #4871F0;
      --md: 14px;
      --sm: 12px;
    }

    * {
      font-family: "Poppins", sans-serif;
      text-align: start;
    }

    body, p {
      line-height: 1.7;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    br {
      display: none;
    }

    .title-clausula {
      color: var(--gray-9);
      font-weight: var(--md);
      font-weight: bold;
      margin-top: 24px;
    }

    p {
      color: var(--gray-7);
      font-size: var(--md);
      padding-bottom: 14px;
    }

    table  {
      background-color: var(--gray-0);
      border-radius: 16px;
      box-shadow: 0px 8px 20px -2px rgba(20, 3, 53, 0.08);
      width: 98%;
      margin: 0 auto 12px;
      padding: 12px 20px 20px;
    }

    tbody tr {
      display: flex;
      flex-direction: column;
      width: inherit;
      padding-bottom: 8px;
    }

    th{
      color: var(--gray-9);
      font-size: var(--sm);
    }

    td p {
      color: var(--gray-7);
      font-size: var(--sm);
      padding-bottom: 0;
    }

    td:nth-of-type(1) p:not(.proposito) {
      color: var(--gray-5);
    }

    th {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    ul, ol {
      padding-left: 20px;
      margin: 0 0 12px;
    }

    ul li::marker, ol li::marker {
      color: var(--royalblue-5);
      font-size: var(--sm);
      font-weight: bold;
    }

    ul li p, ol li p {
      font-size: var(--sm);
      padding-bottom: 16px;
    }

    .table-recopilacion-datos th {
      font-size: var(--md);
      color: var(--gray-9);
    }

    .origen {
      color: var(--gray-6);
      font-style: italic;
    }

    .informacion {
      font-size: var(--md);
      font-weight: bold;
    }

    .proposito {
      color: var(--gray-9);
    }
  </style>
<body>


    <p class="title-clausula">Datamart</p>
    <div class="intro-datamart">
        <p>Datamart SpA, con domicilio en Alonso de Monroy 2869, oficina 201, Vitacura, Santiago de Chile, es una empresa dedicada a la obtención, extracción y procesamiento de datos desde distintas fuentes de información, a través de medios informáticos (“Datamart” o “nosotros”).</p>

        <p>Datamart permite solicitar, procesar y almacenar de forma segura documentos y antecedentes tuyos o de la empresa que representas - algunos de los cuales que podrían contener tu información personal - la cual podrás autorizar a compartir con empresas con quienes quieras relacionarte y hacer negocios, o con las que ya tengas una relación comercial.</p>

        <p> El tratamiento de datos personales se realizará en plena observancia de la legislación aplicable.</p>
    </div>

    <br />

    <div class="destinatario-datos">
        <p class="title-clausula">Destinatario de los datos</p>

        <div><p>
            {% for destinatario in clause_object.destinatario_destinatarios %}
            <span name="razon_social-{{clause_name}}-1" class="variable"> {{destinatario.destinatario_razon_social}}</span>
            {% endfor %} y sus filiales y coligadas, cada una en adelante el “Destinatario”, utiliza a Datamart para la obtención y procesamiento de cierta información que cada Destinatario ha definido como necesaria para sus procedimientos de evaluación comercial, financiera, de riesgo, legal, o para efectos de contratación.</p></div>
    </div>

    <br />

    <div class="poderes-represent">
        <p class="title-clausula">Debes tener poderes de representación</p>

        <div><p>
            En caso de actuar a nombre de una empresa, al aceptar estos términos y condiciones de uso, declaras (i) actuar a tu nombre o, según corresponda, en representación de una sociedad u organización debidamente constituida; (ii) que tienes facultades legales y contractuales suficientes para obligarte y obligar a dicha organización u sociedad; y (iii) que tu aceptación a estos términos y condiciones es pura y simple.</p></div>
    </div>



    <br />
    <div class="datos-sociedad">
        <p class="title-clausula">Los datos son de tu sociedad</p>
        <div>
            <p>Para nosotros tu confianza y la seguridad de tus datos es una prioridad. Nos comprometemos a ser transparentes sobre los datos que obtenemos bajo la ley o con tu consentimiento, y la forma en que los utilizamos. </p>
            <p>Por favor, revisa atentamente estos términos y condiciones de uso.</p>
        </div>
    </div>
    <br />
    <div class="info-obtenemos">
        <p class="title-clausula">La información que obtenemos</p>
        <ul>
            <li>
                <p>Tu nombre y cédula de identidad.</p>
            </li>
            <li>
                <p>En caso de actuar a nombre de una empresa, identificación o de la sociedad u organización </p>
            </li>
            <li>
                <p>
                    Datos de contacto tuyos y de la sociedad u organización que
                    representas, incluyendo direcciones de correo electrónico y números de
                    teléfono.
                </p>
            </li>
            <li>
                <p>
                    Credenciales de acceso de la sociedad u organización que representas a
                    fuentes de información públicas o privadas y los datos que allí se contienen.
                </p>
            </li>


            <li>
                <p>
                    Datos de solvencia, morosidad, riesgo y actividad comercial o
                    financiera de la sociedad u organización que representas.
                </p>
            </li>
        </ul>
    </div>
    <br />
    <div class="como-obtenemos-info">
        <p class="title-clausula">Cómo obtenemos la información</p>
        <ul>
            <li>
                <p>
                    Obtenemos datos desde fuentes de información pública o privada que nos
                    hayas proporcionado expresamente, como por ejemplo el portal del Servicio de
                    Impuestos Internos.
                </p>
            </li>
            <li>
                <p>
                    También podemos obtener datos de fuentes de libre acceso, como bases de datos y registros públicos,
                    diarios y
                    boletines oficiales, listas para la prevención del fraude, redes sociales e
                    internet.
                </p>
            </li>

        </ul>
    </div>
    <br />
    <div class="mandato-es">
        <p class="title-clausula">Mandato especial</p>
        <ul>
            <li>
                <p>Al ingresar tus credenciales de acceso a fuentes de información, nos otorgas un mandato especial con representación, delegable y revocable, para acceder a dichas fuentes a nombre tuyo o, según corresponda, de la sociedad u organización que representas.</p>
            </li>

            <li>
                <p>
                    Nos autorizas para extraer datos relativos a tu persona o, según corresponda, a la sociedad u organización que representas y a almacenarlos en nuestra base de datos, para poder realizar un procesamiento automatizado de datos.

                </p>
            </li>

            <li>
                <p>
                    Este mandato especial únicamente nos permite acceder y extraer información. No haremos transacciones, declaraciones, rectificaciones ni ninguna otra actividad distinta del acceso, extracción y procesamiento no transaccional de información, salvo que lo autorices expresamente.
                </p>
            </li>

            <li>
                <p>
                    Rendiremos cuenta de este mandato y proveeremos medios técnicos para que sepas cuándo y cómo se accede y procesa tu información.

                </p>
            </li>
        </ul>
    </div>
    <br />

    <div class="hacemos-info">
        <p class="title-clausula">Qué hacemos con la información</p>
        <ul>
            <li>
                <p>
                    En general, accedemos y extraemos información para verificar la
                    identidad de la sociedad u organización que representas, para automatizar
                    procesos de contratación, evaluación financiera, oportunidades de compra, venta
                    e intermediación de productos y servicios, para hacer análisis estadístico de
                    tendencias, para prevención de delitos y fraudes, para entrenamiento de
                    algoritmos y sistemas informáticos, y para otros fines que nos hayas autorizado
                    expresamente.
                </p>
            </li>
            <li>
                <p>
                    Nos autorizas expresamente para contactarnos contigo y/o con la
                    sociedad u organización que representas, con el fin de interactuar en el
                    contexto de la prestación asociada a este documento. Podremos disociar o
                    anonimizar tu información, de manera que no pueda ser identificada por terceros
                    contigo, o con la sociedad u organización que representas, y utilizarla para
                    entrenamiento de algoritmos y sistemas informáticos, así como para hacer
                    análisis estadístico.
                </p>
            </li>

            <li>
                <p>
                    Adicionalmente, podremos realizar actividades de prospección comercial y de publicidad, que incluyen informarte sobre ofertas, promociones, beneficios, concursos y publicidad de productos y servicios asociados a la prestación descrita en este contrato y que consideremos que podrían ser de tu interés, y/o productos o servicios en relación con la industria en la que participas.

                </p>
            </li>

            <li>
                <p>
                    Podremos disociar o anonimizar tu información, de manera que no pueda ser identificada por terceros contigo, o con la sociedad u organización que representas, y utilizarla para entrenamiento de algoritmos y sistemas informáticos, así como para hacer análisis estadístico.
                </p>
            </li>
            <li>
                <p>
                    El tiempo de conservación de tus datos será indeterminado, hasta que decidas revocar tu autorización y/o nos solicites eliminarlos.

                </p>
            </li>
            <li>
                <p>En particular, utilizaremos la información con las siguientes finalidades u otras que, de tiempo en tiempo, nos autorices expresamente:
                </p>
            </li>
        </ul>
    </div>
    <br />
    <div class="info-recopilada">
        {% for tabla in clause_object.informacion_recopilada_tablas %}
        <table class="table table-recopilacion-datos">
            <thead>
                <tr>
                    <th colspan="3"><span name="titulo-{{clause_name}}-{{loop.index}}" class="variable">{{ tabla.informacion_recopilada_titulo }} </span></th>
                </tr>
            </thead>
                <tbody>
                    {% for fila in tabla.informacion_recopilada_filas %}
                        <tr>
                            <td><p class="origen">Origen: {{ fila.informacion_recopilada_origen }} </p></td>
                            <td><p class="informacion">{{ fila.informacion_recopilada_informacion }}</p></td>
                        </tr>
                        <tr>
                        <td><p class="proposito">Propósito o fines con que se utilizará la información</p></td>
                            <td>
                                <ul>
                                    {% for uso in fila.informacion_recopilada_usos %}
                                    <li>
                                        <p>
                                            <span name="texto-{{clause_name}}-{{loop.index}}" class="variable">{{ uso.informacion_recopilada_texto_uso }} </span>
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endfor %}
    
    
        <ul>
            <li>
                <p>Comunicaremos la información con el Destinatario y con aquellas entidades solicitantes de datos que tú nos hayas autorizado expresamente o que, de acuerdo con la ley aplicable, tengan un interés legítimo sobre esos datos.</p>
            </li>
        </ul>
    
    </div>
    <br />
    <div class="info-protegida">
        <p class="title-clausula">Cómo protegemos la información</p>
    
        <ul>
            <li>
                <p>Tu información siempre viaja y es almacenada de manera encriptada, con los más altos estándares de seguridad disponibles.
                </p>
            </li>
    
            <li>
                <p>
                    Tu información es almacenada de forma aislada en repositorios únicos que no son compartidos con ninguna otra empresa o entidad.

                </p>
            </li>
    
            <li>
                <p>
                    Nadie tendrá conocimiento material de las claves de las credenciales de acceso a fuentes de información que nos proporciones, ni siquiera nosotros.

                </p>
            </li>
    
            <li>
                <p>
                    No comunicaremos información privada que pueda identificarte, o a la sociedad u organización que representas, sin tu autorización expresa.

                </p>
            </li>
    
            <li>
                <p>
                    Todas nuestras plataformas y servicios operan en una infraestructura cloud de clase mundial, que cumple con la normativa financiera chilena sobre externalización de procesamiento de datos.
                </p>
            </li>
    
            <li>
                <p>La infraestructura física sobre la que operamos es escalable, tiene un diseño de alta disponibilidad, uptime promedio mensual sobre el 99,9% y funcionalidad de tolerancia de errores integrada. Además, la infraestructura no tiene períodos de mantenimiento o inactividad programados.
                </p>
            </li>
            <li>
                <p>
                    Nuestros procesos siguen la norma ISO 27001 sobre confidencialidad, integridad y disponibilidad de la información.

                </p>
            </li>
            <li>
                <p>Auditamos y revisamos nuestros procedimientos de seguridad de forma permanente.

                </p>
            </li>
            <li>
                <p>
                    Nos reservamos el derecho de exigir sistemas de autenticación más robustos para que puedas acceder a tu información, como doble factor, tokens, biometría u otros.

                </p>
            </li>
            <li>
                <p>
                    Los servidores físicos donde procesamos tu información estarán ubicados en Chile o en Estados Unidos.

                </p>
            </li>
        </ul>
    </div>
    <br />
    <div class="derechos">
        <p class="title-clausula">Cuáles son tus derechos</p>
        <ul>
            <li>
                <p>
                    Siempre podrás conocer qué información de la sociedad u organización
                    que representas hemos procesado, para qué la hemos procesado, con quien la
                    hemos compartido y cuándo.
                </p>
            </li>
            <li>
                <p>
                    Siempre tendrás derecho a una copia del documento electrónico que
                    acredita tu autorización expresa para acceder y procesar tu información.
                </p>
            </li>
            <li>
                <p>Siempre podrás solicitar que dejemos de compartir la información con
                    determinada entidad solicitante de datos.</p>
            </li>
            <li>
                <p>
                    Siempre podrás solicitar que disociemos la información, de manera tal
                    que no se pueda vincular a ti, o a la sociedad u organización que representas.
                </p>
            </li>
    
            <li>
                <p>
                    Puedes ejercer tus derechos a través de nuestro panel de control o dirigiendo
                    una solicitud a: <a href="mailto:{{clause_object.derechos_correo}}"><span name="correo-{{clause_name}}-1"
                            class="variable">{{ clause_object.derechos_correo }} </span></a>
                </p>
            </li>
        </ul>
    </div>
    <br />
    <div class="responsabilidad-info">
        <p class="title-clausula">Responsabilidad sobre la
            información</p>
        <p>No somos responsables sobre la veracidad, exactitud o aptitud para los fines que se requieran, de la información que procesamos desde fuentes públicas o privadas.</p>
    </div>
    <br />
    <div class="portabilidad">
        <p class="title-clausula">Portabilidad</p>
    
        <p>Te proporcionaremos una copia de la información tuya o, según corresponda, de la sociedad u organización que representas que hayamos procesado, en un formato electrónico portable.</p>
    </div>
    <br />
    <div class="datos-personales">
        <p class="title-clausula">Datos personales</p>
        <ul>
            <li>
                <p>Si la información a la que accedemos con tu autorización incluye datos
                    relativos a una persona natural identificada o identificable, procesaremos esa
                    información de la forma y para las finalidades informadas en estas condiciones
                    de uso, o de la forma y para las finalidades que, de tiempo en tiempo, nos
                    autorices expresamente.</p>
            </li>
            <li>
                <p>
                    Puedes ejercer los derechos de acceso, rectificación, cancelación u
                    oposición sobre tus datos personales dirigiendo una solicitud a: <a
                        href="mailto:{{clause_object.derechos_correo}}"><span name="correo-{{clause_name}}-1"
                            class="variable">{{ clause_object.derechos_correo }} </span></a>
                </p>
            </li>
        </ul>
    </div>
    <br />
    <div class="servicio-gratuito">
        <p class="title-clausula">Servicio gratuito</p>
        <p>Datamart
            es un servicio gratuito.</p>
    </div>
    <br />
    <div class="faq">
        <p class="title-clausula">Preguntas</p>
        <p>Si
            tienes alguna duda, puedes contáctanos directamente a: <a href="mailto:{{clause_object.preguntas_correo}}"><span
                    name="correo-{{clause_name}}-1" class="variable">{{ clause_object.preguntas_correo }} </span></a></span>
        </p>
        </p>
    </div>
    <br />