
<style>
    :root {
      --gray-9: #140335;
      --gray-7: #51436B;
      --gray-6: #8A829A;
      --gray-5: #A7A1B3;
      --gray-0: #ffffff;
      --royalblue-5: #4871F0;
      --md: 14px;
      --sm: 12px;
    }

    * {
      font-family: "Poppins", sans-serif;
      text-align: start;
    }

    body, p {
      line-height: 1.7;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    br {
      display: none;
    }

    .title-clausula {
      color: var(--gray-9);
      font-weight: var(--md);
      font-weight: bold;
      margin-top: 24px;
    }
    
    p {
      color: var(--gray-7);
      font-size: var(--md);
      padding-bottom: 14px;
    }
    
    table  {
      background-color: var(--gray-0);
      border-radius: 16px;
      box-shadow: 0px 8px 20px -2px rgba(20, 3, 53, 0.08);
      width: 98%;
      margin: 0 auto 12px;
      padding: 12px 20px 20px;
    }

    tbody tr {
      display: flex;
      flex-direction: column;
      width: inherit;
      padding-bottom: 8px;
    }

    th{
      color: var(--gray-9);
      font-size: var(--sm);
    } 
    
    td p {
      color: var(--gray-7);
      font-size: var(--sm);
      padding-bottom: 0;
    }

    td:nth-of-type(1) p:not(.proposito) {
      color: var(--gray-5);
    }

    th {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    ul, ol {
      padding-left: 20px;
      margin: 0 0 12px;
    }

    ul li::marker, ol li::marker {
      color: var(--royalblue-5);
      font-size: var(--sm);
      font-weight: bold;
    }

    ul li p, ol li p {
      font-size: var(--sm);
      padding-bottom: 16px;
    }

    .table-recopilacion-datos th {
      font-size: var(--md);
      color: var(--gray-9);
    }

    .origen {
      color: var(--gray-6);
      font-style: italic;
    }

    .informacion {
      font-size: var(--md);
      font-weight: bold;
    }

    .proposito {
      color: var(--gray-9);
    }
  </style>
<body>

  <p class="title-clausula">Datamart</p>

<div class="intro-datamart">
    <p>Datamart SpA, con
        domicilio en Alonso de Monroy 2869, oficina 201, Vitacura, Santiago
        de Chile, es una empresa dedicada a la obtención, extracción y
        procesamiento de datos desde distintas fuentes de información, a
        través de medios informáticos, en adelante “Datamart”.</p>
        
        <p>Datamart permite
        solicitar, procesar y almacenar de forma segura documentos y
        antecedentes que pueden contener información de carácter personal,
        comercial, tributaria o financiera, tuya o de la sociedad u
        organización que representas, la cual podrás autorizar a compartir
        con empresas con quiénes quieras relacionarte y hacer negocios, o con
        las que ya tengas una relación comercial.</p>
        
        <p>El tratamiento de
        datos se realizará en plena observancia de la normativa aplicable y
        normas complementarias.</p>
</div>


<br/>

<div class="titular-de-los-datos">
    <p class="title-clausula">Titular de los datos</p>

        <div>
            <p>El titular de los datos identificado en la sección Titular, sección que será completada en base a la información registrada en el formulario de la página anterior, utiliza a Datamart como solución para compartir sus datos e información con un destinatario o destinatarios.</p>
        </div>
</div>
<br/>


<div class="datos-tuyos-sociedad">
    <p class="title-clausula">Los
        datos son tuyos o de tu sociedad</p>

        <div>
            <p >Para nosotros tu
                confianza y la seguridad de tus datos es una prioridad. Nos
                comprometemos a ser transparentes sobre los datos que obtenemos bajo
                la ley o con tu consentimiento, y la forma en que los utilizamos. 
                </p>
                
                <p>Por favor, revisa
                atentamente <span name="finalidad-{{clause_name}}-1" class="variable">{{ clause_object.propiedad_de_los_datos_finalidad }} </span>para que comprendas
                qué datos obtendremos, con qué fines serán utilizados y a quiénes
                podrían ser compartidos.</p>
        </div>
</div>
<br/>

<div class="destinatario-datos">
    <p class="title-clausula">Destinatario
        de los datos</p>

        {% for destinatario in clause_object.destinatario_destinatarios %}

        <p><b><span name="razon_social-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_razon_social }}</span></b>, identificada según RUT/RUN/DNI/RUC </span> Nº <span name="destinatario_rut-{{clause_name}}-1" class="variable">{{ 
          destinatario.destinatario_rut }}</span>, en adelante el “Destinatario”
            de los datos, utiliza a Datamart como solución para la obtención de
            parte de la información requerida en sus procesos de negocio,
            evaluación comercial, financiera, de riesgo y/o legal. 
            </p>
            
            <br/>
            
             
            <table class="">
                <thead>
                    <tr>
                        <th colspan="4">
                            Destinatario
                        </th>
                    </tr>
                </thead>
               <tbody>
                   <tr>
                       <td colspan="2"><p>Razón social</p></td>
                       <td colspan="2"><p name="razon_social-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_razon_social }} </p></td>
                   </tr>
                   <tr>
                       <td colspan="2"><p>RUT / RUC</p></td>
                       <td colspan="2"><p name="destinatario_rut-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_rut }} </p></td>
                   </tr>
                   <tr>
                       <td colspan="2"><p>Domicilio</p></td>
                       <td colspan="2"><p name="domicilio-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_domicilio }} </p></td>
                   </tr>
                   <tr>
                       <td colspan="2"><p>País</p></td>
                       <td colspan="2"><p name="pais-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_pais }} </p></td>
                   </tr>
                    <tr>
                      <th colspan="4">
                        Información de contacto
                       </th>
                    </tr>
                  <tr>
                    <td colspan="2"><p>Email</p></td>
                       <td><p name="email-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_email }}</p> </td>
                   </tr>

                   <tr>
                    <td colspan="2"><p>Teléfono</p></td>
                    <td><p name="telefono-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_telefono }} </p></td>
                </tr>
                    <tr>
                        <th>
                            Actividad del Destinatario
                        </th>
                    </tr>
                    <tr>
                        <td><p>
                            <span name="tipo_negocio-{{clause_name}}-1" class="variable">{{ destinatario.destinatario_tipo_negocio }} </span>
                          </p></td>
                    </tr>
                </tbody>
                
            </table>
          <br/>
            {% endfor %}
</div>
    <br/>

    <div class="poderes">
        <p class="title-clausula">Debes tener poderes de representación</p>
        <div>
            <p>Al aceptar estos
                Términos de Servicio y Política de Privacidad, declaras actuar a tu
                nombre o, en su caso, a nombre y representación de una sociedad u
                organización debidamente constituida, y que tienes facultades
                legales y contractuales suficientes para obligarte u obligar a esa
                entidad a cumplir con este acuerdo. 
                </p>
        </div>
    </div>
        
<br/>

<div class="mandato-esp">
    <p class="title-clausula">Mandato especial</p>
    <ul>
        <li>
    <p>
        Al aceptar
        estos Términos de Servicio y Política de Privacidad o cuando
        ingresas tus credenciales de acceso a fuentes de información, nos
        otorgas un mandato especial con representación, delegable y
        revocable, para acceder a dichas fuentes a tu nombre o, en su caso,
        a nombre de la sociedad u organización que representas.
    </p>
    </li>
    <li>
   <p>
    Nos autorizas
    para extraer datos tuyos o aquellos relativos a la sociedad u
    organización que representas y a almacenarlos en nuestra base de
    datos, para poder realizar un procesamiento automatizado de datos.
   </p>
    </li>
    <li>
    <p>
        También nos
        autorizas a comunicar la información requerida por el Destinatario,
        quien la utilizará para los propósitos o fines descritos en este
        documento, para cumplir con los requisitos establecidos para los
        procesos de <span name="mandato_especial_tipo_negocio-{{clause_name}}-1" class="variable">{{ clause_object.mandato_especial_tipo_negocio }} </span>.
    </p>
    </li>
    <li>
    <p>
        Este mandato
        especial únicamente nos permite acceder y extraer información. No
        haremos transacciones, declaraciones, rectificaciones ni ninguna
        otra actividad distinta del acceso, extracción y procesamiento no
        transaccional de información, salvo que lo autorices expresamente.
    </p>
    </li>
    <li>
    <p>
        Rendiremos cuenta de este mandato y proveeremos medios técnicos para que sepas
        cuándo y cómo se accede y procesa tu información.
    </p>
    </li>
    </ul>
</div>
<br/>
<div class="info-reco-util">
    <p class="title-clausula">Información
        que recopilamos y para qué la utilizamos</p>

        <div class="recopilacion"><p>Obtenemos datos
            desde fuentes de información públicas o privadas que tú nos hayas
            proporcionado expresamente, como por ejemplo desde las autoridades
            tributarias.</p>
            
            <p>También podemos
            obtener datos de fuentes de libre acceso, <span>como
            bases de datos y registros públicos, diarios y boletines oficiales,
            listas para la prevención del fraude, redes sociales e internet.</span></p>
            
            <p>
            Dependiendo de la finalidad para la cual sean requeridos tus datos
            por el Destinatario, podríamos obtener el siguiente tipo de
            información:</p></div>

            <ul>
                <li>
            <p>Tu nombre,
                documento de identidad (RUN o DNI) y domicilio.</p>
            </li>
            <li>
            <p>Identificación
                de la sociedad u organización a la que representas, en caso
                aplique, pudiendo incluir su razón social, domicilio y documento de
                identidad (RUT o RUC).</p>
            </li>
            <li>
            <p>Datos personales y/o datos de la sociedad u organización que representas,
                incluyendo direcciones de correo electrónico y números de
                teléfono.</p>
            </li>
            <li>
            <p>Los datos
                personales de identificación, contacto y socioeconómicos, que
                podamos recoger de fuentes de información públicas.</p>
            </li>
            <li>
            <p>Datos de solvencia económica y financiera, morosidad, riesgo, actividad y
                comportamiento comercial o financiero, tuyos o los de la sociedad u
                organización que representas.</p>
            </li>
            <li>
            <p>Debes
                tener en cuenta que los datos personales que podremos recopilar
                podrían ser considerados como sensibles de conformidad con la
                legislación aplicable.</p>
            </li>
            <li>
            <p>Si representas a una sociedad u organización, también recopilaremos
                los datos personales de sus representantes y personas vinculadas.
                Conforme a la legislación aplicable, deberás asegurarte de
                informarles a los titulares de dichos datos oportunamente de esta
                recopilación.</p>
            </li>
            </ul>

            <div class="utilizacion">
                <p>Esta información se
                    utilizará para facilitar la automatización de procesos de
                    contratación, de evaluación financiera, oportunidades de compra,
                    venta e intermediación de productos y servicios, de prevención de
                    delitos y fraudes, y para otros fines que nos hayas autorizado
                    expresamente o que sean permitidos por la ley. 
                    </p>
                    
                    <p>
                    Sin perjuicio de lo anterior, en particular utilizaremos la
                    información con las siguientes finalidades u otras que, de tiempo en
                    tiempo, nos autorices expresamente:</p>
            </div>
<br/>
            {% for tabla in clause_object.informacion_recopilada_tablas %}
        
            
            <table class="table table-recopilacion-datos">
               <thead>
                   <tr>
                       <th colspan="3"><span name="titulo-{{clause_name}}-{{loop.index}}" class="variable">{{ tabla.informacion_recopilada_titulo }} </span></th>
                   </tr>
               </thead>
                <tbody>
                    {% for fila in tabla.informacion_recopilada_filas %}
                        <tr>
                            <td><p class="origen">Origen: {{ fila.informacion_recopilada_origen }} </p></td>
                            <td><p class="informacion">{{ fila.informacion_recopilada_informacion }}</p></td>
                        </tr>
                        <tr>
                        <td><p class="proposito">Propósito o fines con que se utilizará la información</p></td>
                            <td>
                                <ul>
                                    {% for uso in fila.informacion_recopilada_usos %}
                                    <li>
                                        <p>
                                            <span name="texto-{{clause_name}}-{{loop.index}}" class="variable">{{ uso.informacion_recopilada_texto_uso }} </span>
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% endfor %}
</div>
  <br/>  
<div class="comunicacion-terceros">
    <p class="title-clausula">Comunicación
        con terceros</p>
        <ul>
            <li>
        <p>
            Comunicaremos la información con aquellos terceros que tú nos hayas autorizado
            expresamente y con aquellos que tengan un interés legítimo sobre
            esos datos o puedan tratarlos de acuerdo con la ley, reglamentos e
            instrucciones de autoridades competentes que resulten aplicables. 
        </p>
        </li>
        <li>
        <p>
            Se deja
            expresa constancia que estás autorizando que la información
            indicada precedentemente pueda ser almacenada, tratada y utilizada
            por el Destinatario para las finalidades descritas en los cuadros
            anteriores, y para otros fines relacionados única y exclusivamente
            con su giro, para los cuales tenga un interés legítimo. 
        </p>
        </li>
            <li>
        <p>Para las
            actividades antes descritas, podremos compartir tu información con
            quiénes se encargan de prestar servicios de almacenamiento y
            procesamiento de datos, en el territorio nacional o fuera de él, y
            siempre sujeto a estrictas medidas de encriptación y seguridad.</p>
        </li>
        </ul>
</div>
<br/>
<div class="precesadores-datos">
    <p class="title-clausula">Procesadores de datos de Datamart:</p>
    <ol type="a">
        <li>
    <p>
        AMAZON WEB
        SERVICES, INC, domiciliado en 410 Terry Avenue North, Seattle, WA,
        Estados Unidos, que resguarda tu información de manera encriptada.
    </p>
    </li>
    <li>
        <p>
            MICROSOFT CORPORATION, INC, domiciliado en One Microsoft Way,
        Redmond, WA 98052-6399 USA, que resguarda tu información de manera
        encriptada.
        </p>
    </li>
    </ol>

    <p class="title-clausula">Otras empresas o
        personas autorizadas para realizar tratamiento:</p>
        {% if clause_object.comunicacion_con_terceros_empresas | length > 0  %}
            
            {% for empresa in clause_object.comunicacion_con_terceros_empresas %}

            <table class="table table-striped table-bordered table-comunicacion-terceros">
                <thead>
                    <tr>
                        <th colspan="4">Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><p>Razón social</p></td>
                        <td colspan="2"><p name="razon_social-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_razon_social }} </p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>RUT / RUC</p></td>
                        <td colspan="2"><p name="rut-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_rut }} </p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>Domicilio</p></td>
                        <td colspan="2"><p name="domicilio-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_domicilio }} </p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>País</p></td>
                        <td colspan="2"><p name="pais-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_pais }} </p></td>
                    </tr>
                    <tr>
                        <th colspan="4">Información de contacto</th>
                    </tr>
                    <tr>
                        <td colspan="2"><p>Email</p></td>
                        <td><p name="email-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_email }} </p></td>
                    </tr>

                    <tr>
                        <td colspan="2"><p>Teléfono</p></td>
                        <td><p name="telefono-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_telefono }} </p></td>
                    </tr>
                    <tr>
                        <th>Actividad del Otro Destinatario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p name="tipo_negocio-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.comunicacion_con_terceros_tipo_negocio }} </p></td>
                    </tr>
                </tbody>
            </table>
            
            {% endfor %}
            
            {% else %}
            
            <table class=" table table-striped table-bordered table-comuniterce-noauth">
                <tbody>
                    <tr>
                        <td><p>Estos
                            términos de uso y política de privacidad no definen otras
                            empresas o personas autorizadas para realizar tratamiento</p></td>
                    </tr>
                </tbody>
            </table>
           <br/>
            
            <p>En caso hubiera
            nuevos terceros encargados de tratamiento, actualizaremos esta
            relación y te informaremos oportunamente mediante correo
            electrónico.</p>
            
            {% endif %}
            
</div>
    
<br/>

 <div class="datos-personales">
     <p class="title-clausula">Datos
        personales</p>
        <div><p>Si la información a
            la que accedemos incluye datos relativos a una persona natural
            identificada o identificable, procesaremos esa información de la
            forma y para las finalidades informadas en estas condiciones de uso,
            o de la forma y para los propósitos que, de tiempo en tiempo, nos
            autorices expresamente, o que sean permitidos por la ley, reglamentos
            e instrucciones de autoridades competentes que resulten aplicables. 
            </p>
            
            <p >La información
            personal será almacenada por Datamart en su base de “Personas”,
            banco de datos que, en función de la regulación aplicable, podrá
            ser registrado ante la autoridad. 
            </p>
            
            <p >Almacenaremos esa
            información por el tiempo que el contrato se mantenga vigente, más
            10 años, siempre y cuando tu no decidas revocar tu autorización y/o nos solicites eliminarlos.</p>
</div>
 </div>

 <div class="info-protegida">
     <p class="title-clausula">Cómo
        protegemos tu información</p>
        <ul>
            <li>
        <p>Tu información está sujeta a medidas de seguridad de carácter legal,
            organizacional y técnico exigidas por la normativa aplicable.</p>
            </li>
            <li>
        <p>Nuestros procesos siguen la norma ISO 27001 sobre confidencialidad,
            integridad y disponibilidad de la información.</p>
        </li>
        <li>
        <p>Tu
            información siempre viaja y es almacenada de manera encriptada, con
            los más altos estándares de seguridad disponibles.</p>
        </li>
        <li>
        <p>Tu
            información es almacenada de forma aislada en bóvedas digitales
            provistas por Amazon Web Services, Inc., que no son compartidas con
            ninguna otra empresa o entidad que no esté legitimada para acceder
            a esos datos.</p>
        </li>
        <li>
        <p>No comunicaremos información que pueda identificarte, o a la sociedad
            u organización que representas, sin tu autorización explícita.</p>
        </li>
        <li>
        <p>Todas
            nuestras plataformas y servicios operan en una infraestructura <i>cloud</i>
            de clase mundial, que cumple con la normativa aplicable sobre
            seguridad de la información.</p>
        </li>
        <li>
        <p>La infraestructura física sobre la que operamos es escalable, tiene un
            diseño de alta disponibilidad, <i>uptime</i> promedio mensual sobre
            el 99,9% y funcionalidad de tolerancia de errores integrada. Además,
            la infraestructura no tiene períodos de mantenimiento o inactividad
            programados.</p>
        </li>
        <li>
        <p>Auditamos y	revisamos nuestros procedimientos de seguridad de forma permanente.</p>
        </li>
        <li>
        <p>Nos reservamos el derecho de exigir sistemas de autenticación más
            robustos para que puedas acceder a tu información, como doble
            factor, tokens, biometría u otros, con el objetivo de reducir al
            máximo el riesgo de suplantación y de acceso ilegal.</p>
        </li>
        </ul>
 </div>

 <div class="responsabilidad">
     <p class="title-clausula">Responsabilidad
		sobre la calidad de la información</p>
        <div>
            <p><a name="_Hlk46183829"></a>
                No nos hacemos responsables sobre la veracidad, exactitud o aptitud
                para los fines que se requieran, de la información que nos entregues
                y/o que procesamos desde fuentes públicas o privadas.</p>
                
                <p>En
                todo momento podrás revisarla y solicitar que la actualicemos o
                rectifiquemos.</p>
        </div>
 </div>
 
	<!-- <body lang="es-CL" dir="ltr"> -->
		

            <br/>

            <div class="portabilidad">
                <p class="title-clausula">Portabilidad</p>

                <div><p>Te proporcionaremos
                    a tu requerimiento una copia de la información tuya o de la sociedad
                    u organización que representas que hayamos procesado, en un formato
                    electrónico portable.</p></div>
            </div>
  
        

        <br/>
        <div class="derechos">
            <p class="title-clausula">Cuáles
                son tus derechos</p>
                <ul>
                    <li>
                <p>
                    Siempre
                    podrás conocer qué información tuya o de la sociedad u
                    organización que representas hemos procesado, para qué la hemos
                    procesado, con quien la hemos compartido y cuándo.
                </p>
                </li>
                <li>
                <p>
                    Siempre
                    tendrás derecho a una copia del documento electrónico que acredita
                    tu autorización expresa para acceder y procesar tu información.
                </p>
                </li>
                <li>
                <p>
                    Siempre
                    podrás solicitar que dejemos de compartir tu información con
                    determinado tercero.
                </p>
                </li>
                <li>
                <p>
                    Siempre
                    podrás pedir que te olvidemos y disociemos tu información, de
                    manera tal que no se pueda vincular a ti, o a la sociedad u
                    organización que representas.
                </p>
                </li>
                <li>
                <p>
                    Puedes
                    ejercer tus derechos, incluyendo derechos de acceso, rectificación,
                    cancelación u oposición sobre tus datos personales, a través de
                    nuestro panel de control o dirigiendo una solicitud a:
                    <a href="mailto:{{clause_object.derechos_correo}}"><span name="derechos_correo-{{clause_name}}-1" class="variable">{{ clause_object.derechos_correo }} </span></a>
                </p>
                </li>
                </ul>
        </div>
       <br/>
            
        <div class="serv-gratis">
            <p class="title-clausula">Servicio
                gratuito</p>
                <p >Datamart es un
                    servicio gratuito.</p>
        </div>

<div class="faq">
    <p class="title-clausula">Preguntas</p>
    <div>
        <p>Si tienes alguna
            duda, te invitamos a contactarnos directamente a:
          <a href="mailto:{{clause_object.preguntas_correo}}"><span name="preguntas_correo-{{clause_name}}-1" class="variable">{{ clause_object.preguntas_correo }} </span></a></p>
    </div>
</div>

        <br><br>
      </body>    <p>
                    Puedes
                    ejercer tus derechos, incluyendo derechos de acceso, rectificación,
                    cancelación u oposición sobre tus datos personales, a través de
                    nuestro panel de control o dirigiendo una solicitud a:
                    <a href="mailto:{{clause_object.derechos_correo}}"><span name="derechos_correo-{{clause_name}}-1" class="variable">{{ clause_object.derechos_correo }} </span></a>
                </p>
                </li>
                </ul>
        </div>
       <br/>

        