
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p style="margin-bottom: 0cm; line-height: 108%"><font size="4" style="font-size: 14pt"><b>Cómo
protegemos tu información</b></font></p>
<br>
<ul>
	<li>
<p>Tu información está sujeta a medidas de seguridad de carácter legal,
	organizacional y técnico exigidas por la normativa aplicable.</p>
	</li>
	<li>
<p>Nuestros procesos siguen la norma ISO 27001 sobre confidencialidad,
	integridad y disponibilidad de la información.</p>
</li>
<li>
<p>Tu
	información siempre viaja y es almacenada de manera encriptada, con
	los más altos estándares de seguridad disponibles.</p>
</li>
<li>
<p>Tu
	información es almacenada de forma aislada en bóvedas digitales
	provistas por Amazon Web Services, Inc., que no son compartidas con
	ninguna otra empresa o entidad que no esté legitimada para acceder
	a esos datos.</p>
</li>
<li>
<p>No comunicaremos información que pueda identificarte, o a la sociedad
	u organización que representas, sin tu autorización explícita.</p>
</li>
<li>
<p>Todas
	nuestras plataformas y servicios operan en una infraestructura <i>cloud</i>
	de clase mundial, que cumple con la normativa aplicable sobre
	seguridad de la información.</p>
</li>
<li>
<p>La infraestructura física sobre la que operamos es escalable, tiene un
	diseño de alta disponibilidad, <i>uptime</i> promedio mensual sobre
	el 99,9% y funcionalidad de tolerancia de errores integrada. Además,
	la infraestructura no tiene períodos de mantenimiento o inactividad
	programados.</p>
</li>
<li>
<p>Auditamos y	revisamos nuestros procedimientos de seguridad de forma permanente.</p>
</li>
<li>
<p>Nos reservamos el derecho de exigir sistemas de autenticación más
	robustos para que puedas acceder a tu información, como doble
	factor, tokens, biometría u otros, con el objetivo de reducir al
	máximo el riesgo de suplantación y de acceso ilegal.</p>
</li>
</ul>
