
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Comunicación
con terceros</b></font></p>
<br>
<ul>
	<li>
Comunicaremos la información con aquellos terceros que tú nos hayas autorizado
	expresamente y con aquellos que tengan un interés legítimo sobre
	esos datos o puedan tratarlos de acuerdo con la ley, reglamentos e
	instrucciones de autoridades competentes que resulten aplicables. 
</li>
<li>
Se deja
	expresa constancia que estás autorizando que la información
	indicada precedentemente pueda ser almacenada, tratada y utilizada
	por el Destinatario para las finalidades descritas en los cuadros
	anteriores, y para otros fines relacionados única y exclusivamente
	con su giro, para los cuales tenga un interés legítimo. 
</li>
	<li>
Para las
	actividades antes descritas, podremos compartir tu información con
	quiénes se encargan de prestar servicios de almacenamiento y
	procesamiento de datos, en el territorio nacional o fuera de él, y
	siempre sujeto a estrictas medidas de encriptación y seguridad.
</li>
</ul>

<p style="margin-left: 0.64cm; margin-bottom: 0cm; line-height: 108%">
Procesadores de datos de Datamart:</p>
<ol type="a">
	<li>
AMAZON WEB
	SERVICES, INC, domiciliado en 410 Terry Avenue North, Seattle, WA,
	Estados Unidos, que resguarda tu información de manera encriptada.
</li>
<li>
	MICROSOFT CORPORATION, INC, domiciliado en One Microsoft Way,
	Redmond, WA 98052-6399 USA, que resguarda tu información de manera
	encriptada.
</li>
</ol>

<p style="margin-bottom: 0cm; line-height: 108%"><b>Otras empresas o
personas autorizadas para realizar tratamiento:</b></p> <br>
<p style="margin-bottom: 0cm; line-height: 108%">
</p>

{% if clause_object.empresas | length > 0  %}

{% for empresa in clause_object.empresas %}

<table width="585" cellpadding="1" cellspacing="0" bgcolor="#f2f2f2" style="background: #f2f2f2">
	<col width="34">
	<col width="55">
	<col width="158">
	<col width="328">
	<tr>
		<td colspan="4" width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font face="Calibri, serif"><span lang="es-ES"><b>Empresa</b></span></font><font face="Calibri, serif">&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Razón
			social</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>:
			</b></span></font><b><span name="razon_social-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.razon_social }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">RUT / RUC</span></font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>:&nbsp;</b></span></font><b><span name="rut-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.rut }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Domicilio</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">:
			</span></font><b><span name="domicilio-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.domicilio }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">País</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">:
			</span></font><b><span name="pais-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.pais }} </span></b></p>
		</td>
	</tr>
	<tr>
		<td colspan="4" width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>Información
			de contacto:</b></span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">#</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Tipo</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt">Valor&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" height="18" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">1</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Email</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="right"><b><span name="email-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.email }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" height="17" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">2</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Teléfono</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="right"><b><span name="telefono-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.telefono }} </span></b></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0.28cm; line-height: 106%">
	<br>
</p>
<table width="585" cellpadding="1" cellspacing="0" bgcolor="#f2f2f2" style="background: #f2f2f2">
	<col width="581">
	<tr>
		<td width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font face="Calibri, serif"><span lang="es-ES"><b>Tipo de
			negocio, evaluación comercial, financiera, de riesgo y/o legal
			del Destinatario</b></span></font></p>
		</td>
	</tr>
	<tr>
		<td width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span name="tipo_negocio-{{clause_name}}-{{loop.index}}" class="variable">{{ empresa.tipo_negocio }} </span></font></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0.28cm; line-height: 106%">
	<br>
</p>
{% endfor %}

{% else %}

<table width="586" cellpadding="7" cellspacing="0" bgcolor="#f2f2f2" style="background: #f2f2f2">
	<col width="570">
	<tr>
		<td width="570" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" style="margin-bottom: 0cm"><br/>

			</p>
			<p lang="es-ES" align="center" style="margin-bottom: 0cm">Estos
			términos de uso y política de privacidad no definen otras
			empresas o personas autorizadas para realizar tratamiento</p>
			<p lang="es-ES"><br/>

			</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0.28cm; line-height: 106%">
	<br>
</p>

<p style="margin-bottom: 0cm; line-height: 108%">En caso hubiera
nuevos terceros encargados de tratamiento, actualizaremos esta
relación y te informaremos oportunamente mediante correo
electrónico.</p>

{% endif %}