
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
		h1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		h1.cjk { font-family: ; font-size: 16pt; font-weight: normal }
		h1.ctl { font-family: "Times New Roman"; font-size: 16pt; font-weight: normal }
		a:link { color: #ec0000 }
	</style>

<p style="margin-top: 0cm; margin-bottom: 0.28cm"><font size="4" style="font-size: 14pt"><b>Cuáles
son tus derechos</b></font></p>
<ul>
	<li>
Siempre
	podrás conocer qué información tuya o de la sociedad u
	organización que representas hemos procesado, para qué la hemos
	procesado, con quien la hemos compartido y cuándo.
</li>
<li>
Siempre
	tendrás derecho a una copia del documento electrónico que acredita
	tu autorización expresa para acceder y procesar tu información.
</li>
<li>
Siempre
	podrás solicitar que dejemos de compartir tu información con
	determinado tercero.
</li>
<li>
Siempre
	podrás pedir que te olvidemos y disociemos tu información, de
	manera tal que no se pueda vincular a ti, o a la sociedad u
	organización que representas.
</li>
<li>
Puedes
	ejercer tus derechos, incluyendo derechos de acceso, rectificación,
	cancelación u oposición sobre tus datos personales, a través de
	nuestro panel de control o dirigiendo una solicitud a
	<a href="mailto:{{clause_object.correo}}"><span name="correo-{{clause_name}}-1" class="variable">{{ clause_object.correo }} </span></a>.
</li>
</ul>
