
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Datamart
</b></font>
</p>
<br>
<p style="margin-bottom: 0cm; line-height: 106%">Datamart SpA, con
domicilio en Alonso de Monroy 2869, oficina 201, Vitacura, Santiago
de Chile, es una empresa dedicada a la obtención, extracción y
procesamiento de datos desde distintas fuentes de información, a
través de medios informáticos, en adelante “Datamart”.</p>

<p style="margin-bottom: 0cm; line-height: 106%">Datamart permite
solicitar, procesar y almacenar de forma segura documentos y
antecedentes que pueden contener información de carácter personal,
comercial, tributaria o financiera, tuya o de la sociedad u
organización que representas, la cual podrás autorizar a compartir
con empresas con quiénes quieras relacionarte y hacer negocios, o con
las que ya tengas una relación comercial.</p>

<p style="margin-bottom: 0cm; line-height: 100%">El tratamiento de
datos se realizará en plena observancia de la normativa aplicable y
normas complementarias.</p>
