
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		a:link { color: #ec0000 }
	</style>

<p style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Datos
personales </b></font>
</p>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Si la información a
la que accedemos incluye datos relativos a una persona natural
identificada o identificable, procesaremos esa información de la
forma y para las finalidades informadas en estas condiciones de uso,
o de la forma y para los propósitos que, de tiempo en tiempo, nos
autorices expresamente, o que sean permitidos por la ley, reglamentos
e instrucciones de autoridades competentes que resulten aplicables. 
</p>

<p style="margin-bottom: 0cm; line-height: 100%">La información
personal será almacenada por Datamart en su base de “Personas”,
banco de datos que, en función de la regulación aplicable, podrá
ser registrado ante la autoridad. 
</p>

<p style="margin-bottom: 0cm; line-height: 100%">Almacenaremos esa
información por el tiempo que el contrato se mantenga vigente, más
10 años, siempre y cuando <font color="#000000"><font face="Calibri, serif"><span style="background: #ffffff">tu
no decidas revocar tu autorización y/o nos solicites eliminarlos.</span></font></font><font color="#000000"><font face="Calibri, serif"><span style="background: #ffffff">&nbsp;</span></font></font></p>
