
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Destinatario
de los datos</b></font></p>
<br>

{% for destinatario in clause_object.destinatarios %}

<p style="margin-bottom: 0cm; line-height: 100%"><b><span name="razon_social-{{clause_name}}-1" class="variable">{{ destinatario.razon_social }} </span></b>,
rol único tributario Nº <span name="rut-{{clause_name}}-1" class="variable">{{ destinatario.rut }} </span>, en adelante el “Destinatario”
de los datos, utiliza a Datamart como solución para la obtención de
parte de la información requerida en sus procesos de negocio,
evaluación comercial, financiera, de riesgo y/o legal. 
</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p>

 
<table width="585" cellpadding="1" cellspacing="0" bgcolor="#f2f2f2" style="background: #f2f2f2">
	<col width="34">
	<col width="55">
	<col width="158">
	<col width="328">
	<tr>
		<td colspan="4" width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font face="Calibri, serif"><span lang="es-ES"><b>Destinatario</b></span></font><font face="Calibri, serif">&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Razón
			social</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>:
			</b></span></font><b><span name="razon_social-{{clause_name}}-1" class="variable">{{ destinatario.razon_social }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">RUT /
			RUC</span></font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>:&nbsp;</b></span></font><b><span name="rut-{{clause_name}}-1" class="variable">{{ destinatario.rut }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Domicilio</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">:
			</span></font><b><span name="domicilio-{{clause_name}}-1" class="variable">{{ destinatario.domicilio }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td colspan="2" width="91" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">País</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="488" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">:
			</span></font><b><span name="pais-{{clause_name}}-1" class="variable">{{ destinatario.pais }} </span></b></p>
		</td>
	</tr>
	<tr>
		<td colspan="4" width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES"><b>Información
			de contacto:</b></span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">#</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Tipo</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt">Valor&nbsp;</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" height="18" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">1</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Email</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="right"><b><span name="email-{{clause_name}}-1" class="variable">{{ destinatario.email }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="34" height="17" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt"><span lang="es-ES">2</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td colspan="2" width="215" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p><font size="2" style="font-size: 10pt"><span lang="es-ES">Teléfono</span></font><font size="2" style="font-size: 10pt">&nbsp;</font></p>
		</td>
		<td width="328" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="right"><b><span name="telefono-{{clause_name}}-1" class="variable">{{ destinatario.telefono }} </span></b></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0.28cm; line-height: 106%"><br>
</p>
<table width="585" cellpadding="1" cellspacing="0" bgcolor="#f2f2f2" style="background: #f2f2f2">
	<col width="581">
	<tr>
		<td width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font face="Calibri, serif"><span lang="es-ES"><b>Tipo de
			negocio, evaluación comercial, financiera, de riesgo y/o legal
			del Destinatario</b></span></font></p>
		</td>
	</tr>
	<tr>
		<td width="581" valign="top" bgcolor="#f2f2f2" style="background: #f2f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p><font size="2" style="font-size: 10pt"><span name="tipo_negocio-{{clause_name}}-1" class="variable">{{ destinatario.tipo_negocio }} </span></font></p>
		</td>
	</tr>
</table>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p>
{% endfor %}
