
	<style type="text/css">
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm;  }
	</style>

<p align="justify" style="margin-bottom: 0cm; "><font size="4" style="font-size: 14pt"><b>Información
que recopilamos&nbsp;y para qué la utilizamos</b></font></p>
<br>
<p align="justify" style="margin-bottom: 0cm; ">Dependiendo
de la finalidad para la cual sean requeridos tus datos, podríamos
obtener el siguiente tipo de información para facilitar procesos de
contratación, de evaluación financiera, oportunidades de compra,
venta e intermediación de productos y servicios, de prevención de
delitos y fraudes, y para otros fines que nos hayas autorizado
expresamente o que sean permitidos por la ley.&nbsp;</p>
<p align="justify" style="margin-bottom: 0cm; ">Sin
perjuicio de lo anterior, en particular utilizaremos&nbsp;la
información detallada a continuación&nbsp;con las siguientes
finalidades u otras que, de tiempo en tiempo, nos autorices
expresamente:</p>
<br>
<table width="588" cellpadding="1" cellspacing="0">
	<col width="149">
	<col width="147">
	<col width="284">
	<tr>
		<td colspan="3" width="584" valign="top" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p ><b>Identidad de la Persona de Contacto</b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p >Origen</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Información</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Uso o fines con que se utilizará la información</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p>Formulario de contacto</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Nombre</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<ul>
				<li>
<p>
	Verificar tu identidad.
</p>
</li>
<li>
Verificar que se cumplan las condiciones establecidas en créditos y
				productos financieros.
			</li>
			<li>
				Otras finalidades permitidas por ley, reglamentos e instrucciones de
				autoridades competentes.
			</li>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p>Proceso identificación*</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p>Biometría</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<ul>
				<li>
Verificar tu identidad
</li>
<li>
Fines de seguridad y validación.
</li>
<li>
Otras finalidades permitidas por ley, reglamentos e instrucciones de
				autoridades competentes.
			</li>
			</ul>
		</td>
	</tr>
</table>
<p>* Opcional
en caso de ser requerido.</p>
<br>
<table width="588" cellpadding="1" cellspacing="0">
	<col width="149">
	<col width="147">
	<col width="284">
	<tr>
		<td colspan="3" width="584" valign="top" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p ><b>Información
			de&nbsp;Contacto de&nbsp;la Persona de Contacto</b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p >Origen</span></p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Información</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="justify">Uso o fines con que se utilizará la información</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p >Formulario de contacto</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Teléfono e Email</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<ul>
				<li>
Contactarte en caso de que sea requerido para dar poder prestar el servicio
				que solicitas
			</li>
	<li>
Otras finalidades permitidas por ley, reglamentos e instrucciones de autoridades competentes.
</li>
			</ul>
		</td>
	</tr>
</table>
<p align="justify" style="margin-bottom: 0cm; ">&nbsp;</p>
<table width="588" cellpadding="1" cellspacing="0">
	<col width="149">
	<col width="147">
	<col width="284">
	<tr>
		<td colspan="3" width="584" valign="top" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="justify"><b>Identidad&nbsp;de
			la sociedad&nbsp;</b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p align="justify">Origen</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="justify">Información</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p align="justify">Uso o fines con que se utilizará la información</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p >Formulario de contacto</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Documento de Identidad</span></font></font></p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<ul>
				<li>
Verificar la identidad de la sociedad u organización que representas.
</li>
	<li>
Otras finalidades permitidas por ley, reglamentos e instrucciones de
				autoridades competentes.
			</li>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td width="149" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.04cm; padding-right: 0cm">
			<p>SII</p>
		</td>
		<td width="147" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<p >Nombre de la Sociedad</p>
		</td>
		<td width="284" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding: 0cm">
			<ul>
				<li>
Verificar la identidad de la sociedad u organización que representas.
</li>
<li>
Otras finalidades permitidas por ley, reglamentos e instrucciones de	autoridades competentes.
</li>
			</ul>
		</td>
	</tr>
</table>
<br>
<p align="justify" style="margin-bottom: 0cm; ">Debes
tener en cuenta que:</p>
<ul>
	<li>
	En caso de que dicha información
	corresponda a información personal,&nbsp;ésta será almacenada
	por&nbsp;Datamart&nbsp;en su banco de datos de “Personas”.&nbsp;
</li>
<li>
	Ciertos datos personales que nos
	autorices a procesar podrían ser sensibles, de conformidad con la
	legislación&nbsp;aplicable, tales como ingresos económicos y datos
	biométricos.&nbsp;&nbsp;
</li>
<li>
	Si representas a una sociedad u
	organización, también recopilaremos los datos personales de sus
	representantes y personas vinculadas. Conforme a la legislación
	aplicable, deberás asegurarte de informarles oportunamente de esta
	recopilación.&nbsp;
</li>
</ul>
<p style="margin-bottom: 0cm; ">Si
decides continuar con un proceso de evaluación o contratación con
alguna empresa que requiera tu información, podremos pedirte datos
adicionales, como, por ejemplo, datos de solvencia económica y
financiera, morosidad, riesgo, actividad y comportamiento comercial o
financiero, tuyos o los de la sociedad u organización que
representas, para lo cual solicitaremos de tu autorización expresa.</p>