
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p style="margin-bottom: 0cm; line-height: 108%"><font size="4" style="font-size: 14pt"><b>Información
que recopilamos y para qué la utilizamos</b></font></p>
<br>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Obtenemos datos
desde fuentes de información públicas o privadas que tú nos hayas
proporcionado expresamente, como por ejemplo desde las autoridades
tributarias.</p>

<p style="margin-bottom: 0cm; line-height: 100%">También podemos
obtener datos de fuentes de libre acceso, <font color="#303030"><span lang="es-ES">como
bases de datos y registros públicos, diarios y boletines oficiales,
listas para la prevención del fraude, redes sociales e internet.</span></font></p>

<p style="margin-bottom: 0cm; line-height: 108%"><a name="_Hlk46012575"></a>
Dependiendo de la finalidad para la cual sean requeridos tus datos
por el Destinatario, podríamos obtener el siguiente tipo de
información:</p>

<ul>
	<li>
<p>Tu nombre,
	documento de identidad (RUN o DNI) y domicilio.</p>
</li>
<li>
<p>Identificación
	de la sociedad u organización a la que representas, en caso
	aplique, pudiendo incluir su razón social, domicilio y documento de
	identidad (RUT o RUC).</p>
</li>
<li>
<p>Datos personales y/o datos de la sociedad u organización que representas,
	incluyendo direcciones de correo electrónico y números de
	teléfono.</p>
</li>
<li>
<p>Los datos
	personales de identificación, contacto y socioeconómicos, que
	podamos recoger de fuentes de información públicas.</p>
</li>
<li>
<p>Datos de solvencia económica y financiera, morosidad, riesgo, actividad y
	comportamiento comercial o financiero, tuyos o los de la sociedad u
	organización que representas.</p>
</li>
<li>
<p>Debes
	tener en cuenta que los datos personales que podremos recopilar
	podrían ser considerados como sensibles de conformidad con la
	legislación aplicable.</p>
</li>
<li>
<p>Si representas a una sociedad u organización, también recopilaremos
	los datos personales de sus representantes y personas vinculadas.
	Conforme a la legislación aplicable, deberás asegurarte de
	informarles a los titulares de dichos datos oportunamente de esta
	recopilación.</p>
</li>
</ul>
<p style="margin-bottom: 0cm; line-height: 108%">Esta información se
utilizará para facilitar la automatización de procesos de
contratación, de evaluación financiera, oportunidades de compra,
venta e intermediación de productos y servicios, de prevención de
delitos y fraudes, y para otros fines que nos hayas autorizado
expresamente o que sean permitidos por la ley. 
</p>

<p style="margin-bottom: 0cm; line-height: 100%"><a name="_Hlk55954771"></a>
Sin perjuicio de lo anterior, en particular utilizaremos la
información con las siguientes finalidades u otras que, de tiempo en
tiempo, nos autorices expresamente:</p>

{% for tabla in clause_object.tablas %}

<p align="justify" style="margin-bottom: 0cm; line-height: 108%">
	<br>
</p>
<table width="589" cellpadding="7" cellspacing="0">
	<col width="138">
	<col width="136">
	<col width="271">
	<tr>
		<td colspan="3" width="573" valign="top" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><b><span name="titulo-{{clause_name}}-{{loop.index}}" class="variable">{{ tabla.titulo }} </span></b></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="138" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><font size="2" style="font-size: 10pt">Origen</font></p>
		</td>
		<td width="136" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><font size="2" style="font-size: 10pt">Información</font></p>
		</td>
		<td width="271" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><font size="2" style="font-size: 10pt">Propósito
			o fines con que se utilizará la información</font></p>
		</td>
	</tr>
	{% for fila in tabla.filas %}
	<tr valign="top">
		<td width="138" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><font size="2" style="font-size: 10pt"><span name="origen-{{clause_name}}-{{loop.index}}" class="variable">{{ fila.origen }} </span></font></p>
		</td>
		<td width="136" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<p lang="es-ES" align="justify"><font size="2" style="font-size: 10pt"><span name="informacion-{{clause_name}}-{{loop.index}}" class="variable">{{ fila.informacion }} </span></font></p>
		</td>
		<td width="271" style="border: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.2cm; padding-right: 0.19cm">
			<ul>
				{% for uso in fila.usos %}
				<li>
					<p>
						<span name="texto-{{clause_name}}-{{loop.index}}" class="variable">{{ uso.texto_uso }} </span>
					</p>
				</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
    {% endfor %}
</table>

{% endfor %}