
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 106%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
		h1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		h1.cjk { font-family: ; font-size: 16pt; font-weight: normal }
		h1.ctl { font-family: "Times New Roman"; font-size: 16pt; font-weight: normal }
	</style>

<p style="margin-top: 0cm; margin-bottom: 0.28cm"><font size="4" style="font-size: 14pt"><b>Mandato
especial</b></font></p>
<ul>
	<li>
Al aceptar
	estos Términos de Servicio y Política de Privacidad o cuando
	ingresas tus credenciales de acceso a fuentes de información, nos
	otorgas un mandato especial con representación, delegable y
	revocable, para acceder a dichas fuentes a tu nombre o, en su caso,
	a nombre de la sociedad u organización que representas.
</li>
<li>
Nos autorizas
	para extraer datos tuyos o aquellos relativos a la sociedad u
	organización que representas y a almacenarlos en nuestra base de
	datos, para poder realizar un procesamiento automatizado de datos.
</li>
<li>
También nos
	autorizas a comunicar la información requerida por el Destinatario,
	quien la utilizará para los propósitos o fines descritos en este
	documento, para cumplir con los requisitos establecidos para los
	procesos de <span name="tipo_negocio-{{clause_name}}-1" class="variable">{{ clause_object.tipo_negocio }} </span>.
</li>
<li>
Este mandato
	especial únicamente nos permite acceder y extraer información. No
	haremos transacciones, declaraciones, rectificaciones ni ninguna
	otra actividad distinta del acceso, extracción y procesamiento no
	transaccional de información, salvo que lo autorices expresamente.
</li>
<li>
Rendiremos cuenta de este mandato y proveeremos medios técnicos para que sepas
	cuándo y cómo se accede y procesa tu información.
</li>
</ul>