
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>
</head>

<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Debes
tener poderes de representación</b></font></p>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Al aceptar estos
Términos de Servicio y Política de Privacidad, declaras actuar a tu
nombre o, en su caso, a nombre y representación de una sociedad u
organización debidamente constituida, y que tienes facultades
legales y contractuales suficientes para obligarte u obligar a esa
entidad a cumplir con este acuerdo. 
</p>
