
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
		h1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		h1.cjk { font-family: ; font-size: 16pt; font-weight: normal }
		h1.ctl { font-family: "Times New Roman"; font-size: 16pt; font-weight: normal }
	</style>

<p style="margin-top: 0cm; margin-bottom: 0.28cm"><font size="4" style="font-size: 14pt"><b>Portabilidad</b></font></p>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Te proporcionaremos
a tu requerimiento una copia de la información tuya o de la sociedad
u organización que representas que hayamos procesado, en un formato
electrónico portable.</p>
