
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
		h1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		h1.cjk { font-family: ; font-size: 16pt; font-weight: normal }
		h1.ctl { font-family: "Times New Roman"; font-size: 16pt; font-weight: normal }
		a:link { color: #ec0000 }
	</style>

<p style="margin-top: 0cm; margin-bottom: 0.28cm"><font size="4" style="font-size: 14pt"><b>Preguntas</b></font></p>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Si tienes alguna
duda, te invitamos a contactarnos directamente a
<font color="#ec0000"><u><a href="mailto:{{clause_object.correo}}"><span name="correo-{{clause_name}}-1" class="variable">{{ clause_object.correo }} </span></a></u></font>.</p>
