
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

<p style="margin-bottom: 0cm; line-height: 100%"><font size="4" style="font-size: 14pt"><b>Los
datos son tuyos o de tu sociedad</b></font></p>
<br>
<p style="margin-bottom: 0cm; line-height: 100%">Para nosotros tu
confianza y la seguridad de tus datos es una prioridad. Nos
comprometemos a ser transparentes sobre los datos que obtenemos bajo
la ley o con tu consentimiento, y la forma en que los utilizamos. 
</p>

<p style="margin-bottom: 0cm; line-height: 100%">Por favor, revisa
atentamente <span name="finalidad-{{clause_name}}-1" class="variable">{{ clause_object.finalidad }} </span> para que comprendas
qué datos obtendremos, con qué fines serán utilizados y a quiénes
podrían ser compartidos.</p>
