
	<style type="text/css">
		@page { margin: 2cm }
		p { margin-bottom: 0.25cm; line-height: 115% }
	</style>

<p align="justify" style="margin-bottom: 0cm; "><font size="4" style="font-size: 14pt"><b>Para
	qué recopilamos y tratamos&nbsp;la&nbsp;información&nbsp;que nos
	proporcionas</b></font></p>
<br>
<ul>
	<li>
	<p>
		Como procedimiento previo a una
		evaluación comercial, financiera o tributaria&nbsp;que tú luego
		podrás o no autorizar, verificaremos&nbsp;tu identidad y la de la
		sociedad u organización que representas, en caso aplique.&nbsp;También
		utilizaremos esa información&nbsp;para la&nbsp;prevención de
		delitos&nbsp;y fraudes, y para otros fines que nos hayas
		autorizado&nbsp;explícitamente&nbsp;o que sean permitidos por la
		ley.
	</p>
</li>
<li>
	<p>
		Nos	autorizas&nbsp;expresamente&nbsp;para&nbsp;contactarnos contigo y/o
		tu sociedad con el fin de interactuar en el contexto de la
		prestación&nbsp;asociada a este documento.
	</p>
</li>
<li>
	<p>
		Adicionalmente, podrás autorizarnos a
		realizar&nbsp;actividades de prospección comercial y de publicidad,
		que incluyen informarte sobre las ofertas, promociones, beneficios,
		concursos y publicidad en general de productos y servicios&nbsp;asociados
		a la prestación descrita en este contrato,&nbsp;productos o
		servicios relacionados a la prestación y que consideremos que
		podrían ser de tu interés, y/o&nbsp;productos o servicios&nbsp;en
		relación con la industria en la que participas.&nbsp;Podremos
		contactarte en cualquier momento para pedirte esta autorización.
	</p>
</li>
<li>
	<p>
		Podremos disociar o anonimizar tu
		información, de manera que no pueda ser identificada por terceros
		contigo, o con la sociedad u organización que representas, y
		utilizarla para entrenamiento de algoritmos y sistemas informáticos,
		así como para hacer análisis estadístico.
	</p>
</li>
<li>
	<p>
		El tiempo de conservación de tus datos
		será indeterminado, hasta que decidas revocar tu autorización y/o
		nos solicites eliminarlos.
	</p>
</li>
</ul>
