
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
	</style>

	<body lang="es-CL" dir="ltr">
		<p align="justify" style="margin-bottom: 0cm; line-height: 108%"><font size="4" style="font-size: 14pt"><b>Responsabilidad
		sobre la calidad de la información</b></font></p>
		<br>
		<p style="margin-bottom: 0cm; line-height: 100%"><a name="_Hlk46183829"></a>
		No nos hacemos responsables sobre la veracidad, exactitud o aptitud
		para los fines que se requieran, de la información que nos entregues
		y/o que procesamos desde fuentes públicas o privadas.</p>
		
		<p align="justify" style="margin-bottom: 0cm; line-height: 108%">En
		todo momento podrás revisarla y solicitar que la actualicemos o
		rectifiquemos.</p>
		