
	<style type="text/css">
		@page { size: 21.59cm 27.94cm; margin-left: 3cm; margin-right: 3cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2 }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
		h1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		h1.cjk { font-family: ; font-size: 16pt; font-weight: normal }
		h1.ctl { font-family: "Times New Roman"; font-size: 16pt; font-weight: normal }
		a:link { color: #ec0000 }
	</style>

<p align="justify" style="margin-top: 0cm; margin-bottom: 0.28cm">
<font size="4"><b>Vigencia</b></font></p>
<br>
<p align="justify" style="margin-bottom: 0.28cm; line-height: 108%">La
versión que estás aceptando corresponde a Versión <span name="version-{{clause_name}}-1" class="variable">{{ clause_object.version }} </span> del
<span name="fecha-{{clause_name}}-1" class="variable">{{ clause_object.fecha }} </span></p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">©
Datamart 2020</p>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%">Todos
los derechos reservados</p>
